body { color: #777; font-size: 16px; font-family: sans-serif; margin: 0; padding: 0; }
h1 { margin: 0px 0px 1em 0px; color: #076d6f; font-size: 1.7em; }
h3 { margin: 0px 0px 1.5em 0px; color: #339999; font-size: 1.1em; font-weight: normal; letter-spacing: 2px; text-transform: uppercase; }
a { color: #00a2ff; text-decoration: none; }

header { height:auto; background: #eee url(annapurna.jpg) no-repeat center; background-size:cover; margin-bottom: 50px; position: relative; }
header a.logo { position: absolute; display: block; width: 154px; height: 57px; background: url(logo.png) no-repeat 0 0; background-size: contain; z-index: 1; top: 15px; left: 20px; }
header a.logo span { display: none; }

article { width: 70%; float: left; margin-bottom: 75px; }
article div { padding: 0px 40px 0px 40px; border-right: 1px solid #555; }
aside { width: 30%; float: left; }
aside div { padding: 0px 40px 0px 40px; }

nav { background-color: rgba(0,0,0,0.6); position: relative; padding: 45px 0px 0px 180px; }

/* Add menu rules here */
nav ul{
	list-style:none;
	margin:0px;
	padding: 0px;
}
nav > ul> li{
	float: left;
}
nav ul::after{
	content: "";
	display: block;
	clear: both;
}
nav li a{
	display: inline-block;
	color:#fff;
	padding:10px 20px;
	width:125px;
}
nav li a:hover{
	background-color:#339999 ;
}

@media screen and (max-width: 750px) {
	
	header a.logo { width: 120px; height: 44px; }
	article { width: 100%; float: none; margin-bottom: 40px; }
	article div { margin: 0px 40px; padding: 0px 0px 30px 0px; border-right: none; border-bottom: 1px solid #555; }
	aside { width: 100%; float: none; }

}